<!-- <div class="row uneBiere shadow"  
[@supprBiere]="isDeleting ? 'isDeleting' : 'isNotDeleting'"
[ngClass]="{ done: todo.isDone }"
> -->
<div class="row uneBiere shadow">
    <div class="col" >
        <h4 class="text-center">{{ b.nom | titlecase }}</h4>
        <p>Type : {{ b.type | titlecase }}</p>
        <p>Alcool : {{b.degre}}° </p>
        <p>Format : {{b.format}} cl</p>
        <p>Prix : {{b.prix  | currency:'EUR'}}</p>
        <img src="{{b.url}}" width="20%" height="auto">
        <p>(Image recupérée sur :
            <a href="{{b.url}}" target="_blank">{{b.url | urlCourte }}</a>)</p>
        <p>Date de création de {{ b.nom | titlecase }} : {{ b.dateCreation | date:"MM/dd/yy" }}</p>
        <button type="button" class="btn btn-danger" (click)="delete()">Supprimer</button>
        <button type="button" class="btn btn-warning" (click)="modif()">Modifier</button>
    </div>
</div>
