<div class="row uneBiere">
    <div class="col">

        <h4 class="text-center">{{b.nom | titlecase}}</h4>
        <p>Type : {{b.type}}</p>
        <p>Degré : {{b.degre}}</p>
        <p>Format : {{b.format}}</p>
        <p>Prix : {{b.prix  | currency:'EUR'}}</p>
        <p>Url :
            <a href="{{b.url}}" target="_blank">
                {{b.url | urlCourte }}
            </a>
        </p>
        <p>Date création : {{b.dateCreation | date:"MM/dd/yy" }}</p>

    </div>
</div>