<div class="ListBieres container listesBieres">
    <p>list-biere works!</p>
    <app-biere *ngFor="let biere of bieres"></app-biere>
    <!-- <app-biere *ngFor="let biere of bieres" [t]="biere" ></app-biere> -->
</div>

<!-- FORM BIERE -->
<form class="container" name="formNewBiere">
    <fieldset> 
        <legend class="text-center  ">CREER UNE NOUVELLE FICHE BIERE :</legend>
        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <input matInput type="text" placeholder="Nom de la Bière..." />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <mat-label>Type de Bière</mat-label>
                    <mat-select>
                        <mat-option>Choisissez un type de bière...</mat-option>
                        <mat-option value="blonde">Blonde</mat-option>
                        <mat-option value="brune">Brune</mat-option>
                        <mat-option value="ambree">Ambrée</mat-option>
                        <mat-option value="blanche  ">Blanche</mat-option>
                        <!-- <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}} -->
                        <!-- </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <input matInput type="text" placeholder="Degré d'alcool" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <input matInput type="text" placeholder="Format (en cl)" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <input matInput type="text" placeholder="Prix" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <input matInput type="text" placeholder="Url d'une image de cette bière" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class=" col input-group-append">
                <mat-form-field class="largeurEcran">
                    <input matInput [matDatepicker]="picker"
                        placeholder="Date de création de la bière (mettre nom de la bière)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class=" col input-group-append justify-content-center">
            <button class="btn btn-dark " id="basic-addon2">Ajouter la bière</button>
        </div>
    </div>
</form>