.listesBieres {
  border: 1px solid red;
  border-radius: 4% 1% 5% 8%;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  height: auto;
}

.largeurEcran {
  margin: 0 auto;
  width: 50%;
}

#formNewBiere {
  border: 1px solid orange;
  border-radius: 10% 30% 50% 70%;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  margin-bottom: 100px;
}
